/* Custom properties */
:root {
  /* colors */
  --orange: 25 97% 53%;
  --white: 0 0% 100%;
  --light-grey: 217 12% 63%;
  --medium-grey: 216 12% 54%;
  --dark-blue: 213 19% 18%;
  --very-dark-blue: 216 12% 8%;

  /* font-weight */
  --fw-thin: 400;
  
  --fw-bold: 700;

  /* font-size */
  --fs-400: .85em;
  --fs-500: 1.05em;
  --fs-700: 1.5em;
  --fs-900: 2.5em;
  /* font-family */
  --ff-sans-serif: 'Overpass', sans-serif;
}


@media (min-width: 35em) {
  :root {
    --fs-400: 1em;
    --fs-500: 1.5em;
    --fs-700: 2em;
    --fs-900: 3em;
  }
}

@media (min-width: 45em) {
  :root {
    --fs-400: 1.1em;
    --fs-500: 1.7em;
    --fs-700: 2.25em;
    --fs-900: 3.25em;
  }
}

/* Css reset */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
p,
figure {
  margin: 0;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-sans-serif);
  background-color: hsl(var(--very-dark-blue));
  color: hsl(var(--medium-grey));
  overflow: hidden;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------- */
/* utility classes */
/* ---------------- */
.fs-700{
  font-size: var(--fs-700);
}
.fs-400{
  font-size: var(--fs-400);
}

.fc-medium-grey {
  color: hsl(var(--medium-grey))
}
.fc-white {
  color: hsl(var(--white))
}
.fc-orange {
  color: hsl(var(--orange))
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-direcition-column {
  flex-direction: column
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.center {
  align-items: center;
  justify-content: center;
}

.stretch {
  width: 100%;
  justify-content: space-between;
}
.m-in-1 {
  margin-inline: 1em;
}

.m-in-2 {
  margin-inline: 2em;
}
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}
/* ----------- */
/* Components */
/* ----------- */

section {
  width: max(24em, 60vw);
  align-items:  flex-start;
  background-color: hsl(var(--dark-blue));
  margin: 2em;
  padding: 2em;
  border-radius: 15px;
}

.button {
  border: 0;
  border-radius: 15px;
  background-color: hsl(var(--orange));
  color: hsl(var(--white));
  width: 100%;
  padding-block: .7em;
  display: flex;
  place-content: center;
  font-weight: var(--fw-thin);
  letter-spacing: 2.2px;
}

.circle-bg {
  border: 0;
  background-color: hsl(var(--light-grey) /.1);
  color: hsl(var(--medium-grey));
  font-weight: var(--fw-bold);
  border-radius: 50%;
  aspect-ratio: 1;
  height: clamp(3em, 40px, 5em);  
  width: clamp(3em, 30px, 4em);
}
